@use "../helpers" as *;

.amenities {
  text-align: center;
  padding-block: 64px;

  &__title {
    font-size: 36px;
    color: #30452F;
  }

  &__description {
    color: #4B5563;
    font-size: 18px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding-top: 20px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__glass {
    background: #30452F;
    backdrop-filter: blur(10px);
    color: #ffffff;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 16px;
    justify-content: end;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 32px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    &-first{
      background-image: url('/bunker/images/amen1-1.jpeg');
      background-position: 0 -130px;

      @include mobile-above {
        background-image: url('/bunker/images/amen1-1.jpeg');
        background-position: 0 0;
      }
    }

    &-second{
      background-image: url('/bunker/images/amen2.jpeg');

      @include mobile {
        background-position: 0 -100px;
      }
    }

    &-third{
      background-image: url('/bunker/images/amen3.jpeg');

      @include mobile {
        background-position: 0 -130px;
      }
    }

    &-fourth{
      background-image: url('/bunker/images/amen4-1.jpeg');

      @include mobile {
        background-position: 0 -110px;
      }
    }

    &-fifth{
      background-image: url('/bunker/images/amen5.jpg');

      @include mobile {
        background-position: 0 -10px;
      }
    }
  }
}